<ion-view title="Añadir actuación">
    <ion-content overflow-scroll="true" padding="true" class="has-header">


 <ion-list>
            <ion-item ng-class="item-icon-left" ng-click="showPopupAddNameAct()">
                Nombre de la actuacion
                <span class="item-note">{{interfaz.nameAct}}</span>
            </ion-item>
            <ion-item ng-class="item-icon-left" ng-click="showPopupAddDateAct()">
                Fecha de Nacimiento
                <span class="item-note">
                    {{interfaz.dateAct | date:'dd/MM/yyyy'}}
                    </span>
            </ion-item>
            <ion-item ng-class="item-icon-left" ng-click="showPopupAddPet()">
                Para qué mascota
                <span class="item-note">{{interfaz.namePet}}</span>
            </ion-item>
                <ion-item ng-class="item-icon-left" ng-click="showPopupAddAlarm()">
                Definir aviso
                <span class="item-note">{{interfaz.nameAlarm}}</span>
            </ion-item>
        </ion-list>
        
        <div class="spacer" style="width: 285px; height: 52px;"></div>
         {{interfaz.nameAct}}--
         {{interfaz.dateAct}}--
         {{interfaz.namePet}}--
         {{interfaz.nameAlarm}}
        <button class="button button-stable button-block  icon-left ion-checkmark-round button-full" ng-click="addActuacion()">AÑADIR ACTUACION</button>
    </ion-content>
</ion-view>