<!--
arreglar las imagenes en los botones
que nombre sea un placeholder?
que se anule el boton terminar si no hay ninguna mascota y mostrar toast
-->
<ion-view title="Añadir mascotas">

    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <img style="display:none;width:60px;height:60px;" id="smallImage" src="" />
            <img style="display:none;" id="largeImage" src="" />
            <p>
                Introduce los datos de tu mascota. Presiona "añadir otra" para añadir más de una y presiona "Terminar" cuando hayas acabado</p>
        </div>
        <div class="spacer" style="width: 285px; height: 18px;"></div>

        <ion-list>
            <ion-item ng-class="item-icon-left" ng-click="showPopupAddName()">
                Nombre de la mascota
                <span class="item-note">{{interfaz.namePet}}</span>
            </ion-item>
            <ion-item ng-class="item-icon-left" ng-click="showPopupAddDate()">
                Fecha de Nacimiento
                <span class="item-note">
                    {{interfaz.datePet | date:'dd/MM/yyyy'}}
                    </span>
            </ion-item>
            <ion-item ng-class="item-icon-left" ng-click="showPopupAddType()">
                Tipo de mascota
                <span class="item-note">{{interfaz.typePet}}</span>
            </ion-item>
        </ion-list>

        <div class="item item-thumbnail-left">
            <img ng-model="image" src="{{imagestring}}" id="imageSelected">
            <button class="button button-stable button-block " ng-click="launchPhotoAlbum()">Imagen desde tu telefono(no funciona)</button>
            <button class="button button-stable button-block " ng-click="launchCapturePhoto()">Imagen desde la camara (no funciona)</button>

        </div>

        <div class="button-bar">
            <button class="button button-stable button-block " ng-click="addPet()">AÑADIR</button>
            <a ui-sref="menu.home" class="button button-stable button-block ">TERMINAR</a>
        </div>

    </ion-content>
</ion-view>