<!--
por defecto campos ya sleccionados de mascota, aviso y nombre
comprobar que se añade de verdad
-->

<ion-view title="Añadir actuación">
    <ion-content overflow-scroll="true" padding="true" class="has-header">


        <ion-list>
            <ion-item ng-class="item-icon-left" ng-click="showPopupAddNameAct()">
                Nombre de la actuacion
                <span class="item-note">{{interfaz.nameAct}}</span>
            </ion-item>
            <ion-item ng-class="item-icon-left" ng-click="showPopupAddDateAct()">
                Fecha de Nacimiento
                <span class="item-note">
                    {{interfaz.dateAct | date:'dd/MM/yyyy'}}
                    </span>
            </ion-item>
            <ion-item ng-class="item-icon-left" ng-click="showPopupAddMultiplePet()">
                Para qué mascota
                <span class="item-note">
                    <div ng-repeat="f in mascotasToShow">
                            <div ng-show="f.selected">
                                {{f.subId}}
                                </div>                       
                    </div>
                </span>
            </ion-item>
            <ion-item ng-class="item-icon-left" ng-click="showPopupAddAlarm()">
                Definir aviso
                <span class="item-note">{{interfaz.alarmName}}</span>
            </ion-item>
        </ion-list>

        <div class="spacer" style="width: 285px; height: 52px;"></div>
        <button class="button button-stable button-block  icon-left ion-checkmark-round button-full" ng-click="addActuacion()">AÑADIR ACTUACION</button>
    </ion-content>
</ion-view>