<ion-view title="Detalle de actuación">

    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <img style="vertical-align:middle" src="img/perroIcon.jpg" width="100px">
            <span><font size="5">Rabia</font></span>
        </div>
        <div class="spacer" style="width: 285px; height: 20px;"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Fecha</span>
                <input type="date" placeholder="">
            </label>

            <div class="spacer" style="width: 285px; height: 9px;"></div>

            <span class="input-label">Paciente</span>
            <ion-radio ng-model="choice" ng-value="'A'">Curtis</ion-radio>
            <ion-radio ng-model="choice" ng-value="'A'">Lucky</ion-radio>

            <div class="spacer" style="width: 285px; height: 20px;"></div>

            <span class="input-label">Recordarme</span>
            <ion-radio ng-model="choice1" ng-value="'B'">Nunca</ion-radio>
            <ion-radio ng-model="choice1" ng-value="'B'">12 horas antes</ion-radio>
            <ion-radio ng-model="choice1" ng-value="'B'">1 días antes</ion-radio>
            <ion-radio ng-model="choice1" ng-value="'B'">2 días antes</ion-radio>



        </form>
        <div class="spacer" style="width: 285px; height: 52px;"></div>
        <a href="#" onclick="window.open('http://tecuroencasa.com/consultas/', '_system', 'location=yes'); return false;" class="button button-stable button-block  icon-left ion-checkmark-round button-full">SOLICITAR CITA A DOMICILIO</a>
    </ion-content>
</ion-view>