<ion-view title="Home">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-calendar" ng-click="TODO()">
        </button>
        <button class="button button-icon ion-plus-round" ng-click="TODO()" ui-sref="menu.aAdirActuaciN">
        </button>
        <button class="button button-icon icon ion-settings" ng-click="openModal()">
        </button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="buscar">
            </label>
            <button class="button button-clear button-outline">
                Cancelar
            </button>
        </div>

        <div class="spacer" style="width: 285px; height: 9px;"></div>
        <h4>Próximas Actuaciones</h4>
        <div class="spacer" style="width: 285px; height: 3px;"></div>
        <ion-list>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN">
                    <img src="img/perroIcon.jpg">
                    <h2>Rabia</h2>
                    <p>21 Marzo, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN">
                    <img src="img/gatoIcon.jpg">
                    <h2>Desparasitación</h2>
                    <p>21 Marzo, 9:00</p>
                    <p>Lucky</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN">
                    <img src="img/gatoIcon.jpg">
                    <h2>Revision</h2>
                    <p>21 Marzo, 9:00</p>
                    <p>Lucky</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN">
                    <img src="img/perroIcon.jpg">
                    <h2>Desparasitación</h2>
                    <p>21 Marzo, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN"><img src="img/perroIcon.jpg">
                    <h2>Desparasitación</h2>
                    <p>21 de Marzo, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN"><img src="img/perroIcon.jpg">
                    <h2>desparasitación interna</h2>
                    <p>10 de enero, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN"><img src="img/perroIcon.jpg">
                    <h2>ANALÍTICA DE FILARIA</h2>
                    <p>01 de abril, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN"><img src="img/perroIcon.jpg">
                    <h2>desparasitación interna</h2>
                    <p>10 de abril, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN"><img src="img/perroIcon.jpg">
                    <h2>PREVENCIÓN ANUAL FILARIA GUARDIAN</h2>
                    <p>12 de abril, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN"><img src="img/perroIcon.jpg">
                    <h2>prevención Filaria en pastilla</h2>
                    <p>15 de abril, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN"><img src="img/perroIcon.jpg">
                    <h2>PONER COLLAR PREVENCIÓN LEISHMANIA</h2>
                    <p>16 de abril, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN"><img src="img/perroIcon.jpg">
                    <h2>LEISGUARD PREVENCIÓN LEISHMANIA</h2>
                    <p>17 de mayo, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN"><img src="img/perroIcon.jpg">
                    <h2> prevención Filaria en pastilla</h2>
                    <p>15 de mayo, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN"><img src="img/perroIcon.jpg">
                    <h2>prevención Filaria en pastilla</h2>
                    <p>15 de junio, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN"><img src="img/perroIcon.jpg">
                    <h2>LEISGUARD PREVENCIÓN LEISHMANIA</h2>
                    <p>19 de julio, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN"><img src="img/perroIcon.jpg">
                    <h2>desparasitación interna</h2>
                    <p>10 de julio, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN"><img src="img/perroIcon.jpg">
                    <h2> prevención Filaria en pastilla</h2>
                    <p>15 de julio, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN"><img src="img/perroIcon.jpg">
                    <h2>prevención Filaria en pastilla</h2>
                    <p>15 de agosto, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN"><img src="img/perroIcon.jpg">
                    <h2>LEISGUARD PREVENCIÓN LEISHMANIA</h2>
                    <p>12 de septiembre, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN"><img src="img/perroIcon.jpg">
                    <h2>prevención Filaria en pastilla</h2>
                    <p>15 de septiembre, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN"><img src="img/perroIcon.jpg">
                    <h2>desparasitación interna</h2>
                    <p>10 de octubre, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item class="item-thumbnail-left" ui-sref="menu.detalleDeActuaciN"><img src="img/perroIcon.jpg">
                    <h2>ANALÍTICA DE LEISHMANIA</h2>
                    <p>10 de diciembre, 9:00</p>
                    <p>Curtis</p>
                </ion-item>
            </ion-card>
        </ion-list>
    </ion-content>
</ion-view>