<ion-view title="Home">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-calendar" ng-click="TODO()">
        </button>
        <button class="button button-icon ion-plus-round" ng-click="TODO()" ui-sref="menu.aAdirActuaciN">
        </button>
        <button class="button button-icon icon ion-settings" ng-click="openModal()">
        </button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="buscar">
            </label>
            <button class="button button-clear button-outline">
                Cancelar
            </button>
        </div>

        <div class="spacer" style="width: 285px; height: 9px;"></div>
        <h4>Próximas Actuaciones</h4>
        <div class="spacer" style="width: 285px; height: 3px;"></div>
      
        <ion-list>
            <ion-list ng-controller="homeCtrl">
                <ion-card>
                    <ion-item class="item-thumbnail-left" ng-repeat="actuacion in actuacionesDeLasMascotas track by $index">
                        <img src="img/perroIcon.jpg">
                        <h2>{{actuacion.name}}</h2>
                        <p>{{actuacion.date | date:'dd/MM/yyyy  HH:mm'}}</p>
                        <p>{{actuacion.namePet}}</p>
                    </ion-item>
                </ion-card>
            </ion-list>
        </ion-list>
    </ion-content>
</ion-view>