<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Seleccion de mascota</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Ok</button>
        </ion-header-bar>
        <ion-content class="padding">
         
          <ion-list>
          <div>
                <p>¿Qué tipo de mascota es?</p>
                <ion-radio name="animal">Perro</ion-radio>
                <ion-radio name="animal">Gato</ion-radio>
            </div>
            </ion-list>
          
        </ion-content>
      </ion-modal-view>
      
      
      
      
      