<ion-view title="Detalle de mascota">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 285px; height: 18px;"></div>
        <div class="spacer" style="width: 285px; height: 18px;"></div>
        <div class="spacer" style="width: 285px; height: 18px;"></div>
        <ion-list>
            version
            <ion-item ng-class="item-icon-left">
                0.15
            </ion-item>
            por arreglar:
            <ion-item ng-class="item-icon-left">

            </ion-item>
            por implementar:

            <ion-item ng-class="item-icon-left">


                <ion-item ng-class="item-icon-left"> asignar fotos desde camara </ion-item>

                <ion-item ng-class="item-icon-left">asignar fotos desde galeria </ion-item>

                <ion-item ng-class="item-icon-left"> asignar alarmas en el sistema </ion-item>

                <ion-item ng-class="item-icon-left">icono de la app </ion-item>

                <ion-item ng-class="item-icon-left">colores corporativos </ion-item>

        </ion-list>
    </ion-content>
</ion-view>