<ion-view title="Detalle de mascota">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 285px; height: 18px;"></div>
        <div class="spacer" style="width: 285px; height: 18px;"></div>
        <div class="spacer" style="width: 285px; height: 18px;"></div>
        <ion-list>
            Version
            <ion-item ng-class="item-icon-left"> 0.21 </ion-item>
            </br></br>Cambios en esta version
            <ion-item ng-class="item-icon-left">Ya funcionan las alarmas</ion-item>
            <ion-item ng-class="item-icon-left">En detalle de actuacion, dos botones solo para probar las alarmas</ion-item>
            <ion-item ng-class="item-icon-left">Mejorada la busqueda para que le de igual mayusculas y minusculas</ion-item>
            <ion-item ng-class="item-icon-left">Mejorada la pantalla de inicio para que sea mas interactiva</ion-item>
            </br></br>Por implementar
            <ion-item ng-class="item-icon-left">
                <ion-item ng-class="item-icon-left"> asignar fotos desde camara </ion-item>
                <ion-item ng-class="item-icon-left">asignar fotos desde galeria </ion-item>
                <ion-item ng-class="item-icon-left">icono de la app </ion-item>
                <ion-item ng-class="item-icon-left">colores corporativos </ion-item>
        </ion-list>
    </ion-content>
</ion-view>