<ion-view title="Detalle de mascota">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 285px; height: 18px;"></div>
        <div class="spacer" style="width: 285px; height: 18px;"></div>
         <div class="button-bar">
            <button class="button button-stable button-block " ng-click="borrarDatos()">BORRAR TODOS LOS DATOS</button>
        </div>
        <div class="spacer" style="width: 285px; height: 18px;"></div>
        <ion-list>
            Version
            <ion-item ng-class="item-icon-left"> 0.43</ion-item>
            </br></br>Cambios en esta version
            <ion-item ng-class="item-icon-left">Arregladas imagenes de camara y galeria</ion-item>
            <ion-item ng-class="item-icon-left">Agregado splash</ion-item>
            <ion-item ng-class="item-icon-left">Agregado iconos</ion-item>
            <ion-item ng-class="item-icon-left">Actuaciones pasan al año siguiente</ion-item>
            <ion-item ng-class="item-icon-left">Imposible añadir publicidad en el menu</ion-item>
            <ion-item ng-class="item-icon-left">Arreglada memoria en iOS</ion-item>
            <ion-item ng-class="item-icon-left">Actuaciones ya tienen imagenes en la lista</ion-item>
            <ion-item ng-class="item-icon-left">
                <ion-item ng-class="item-icon-left">Barra de titulo amarilla</ion-item>
                <ion-item ng-class="item-icon-left">Boton de menu rojo</ion-item>
                <ion-item ng-class="item-icon-left">Botones de confirmaciones azules</ion-item>
                <ion-item ng-class="item-icon-left">Botones pulsados mas azules</ion-item>
        </ion-list>
    </ion-content>
</ion-view>